* {
  margin: 0;
  padding: 0;
}

:root {
  --main: #FFB011;
  --text: #2A2C39;
  --accent1: #FF4400;
  --accent2: #355070;
  --white: #FAFDF6;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main);
  color: var(--text);
}

.page {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

h1 {
  font-family: 'Cormorant', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 64px;
  color: var(--white);
}

/* header */

header {
  background: var(--accent1);
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* end of header */

/* nav */

nav ul {
  display: flex;
  flex-flow: row wrap;
}

nav li {
  list-style-type: none;
  color: var(--white);
  opacity: 80%;
  padding: 10px;
}

nav li:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.3s ease-in-out;
}

/* end of nav */

/* main */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* end of main */

/* about */

.about {
  max-width: 800px;
  padding: 50px;
}

.about-text {
  font-size: 36px;
}

/* end of about */

/* contact */



/* end of contact */

/* portfolio */



/* end of portfolio */

/* footer */

footer {
  background: var(--accent2);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* end of footer */
