* {
  margin: 0;
  padding: 0;
}

:root {
  --main: #FFB011;
  --text: #2A2C39;
  --accent1: #FF4400;
  --accent2: #355070;
  --white: #FAFDF6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main);
  color: var(--text);
}